<div class="change-password">
    <div class="change-password-container">
        <mat-card>
            <div class="change-password-content">
                <div class="login-card-text">
                    <h1>Forgot password?</h1>
                    <p>No worries, we’ll send you reset instructions.</p>
                </div>
                <form [formGroup]="resetPass" class="reset-form">
                    <div class="account-inform">
                        <mat-form-field appearance="outline">
                            <mat-icon matPrefix >login</mat-icon>
                            <input matInput placeholder="Enter your login or email" formControlName="auth">
                        </mat-form-field>
                    </div>
                    <button mat-flat-button [disabled]="">Reset</button>
                </form>
            </div>
        </mat-card>
        <div class="back-to-login">
            <span routerLink="">Back to login</span>
        </div>
    </div>
</div>
