
a,p,button{
    font-family:'Montserrat', sans-serif;
}
.container{
    margin-top: 32px;
    width: 1440px;
}
.control-panel{
    button{
        color: #FFFF;
        background-color: #159A9C;
    }
}
