<div class="container" *ngIf="companyInfo">
    <mat-card>
        <div class="card-header">
            <p>Назва підприємства</p>
            <button mat-flat-button (click)="openEditDialog('companyName')"><mat-icon>edit</mat-icon>Редагувати</button>
        </div>
        <mat-divider></mat-divider>
        <div class="card-content" *ngIf="companyInfo.ukrName || companyInfo.engName">
            <p class="card-content-header">Назва українською</p>
            <p>Повна назва: {{companyInfo.ukrName.full_name || "-"}}</p>
            <p>Скорочена назва: {{companyInfo.ukrName.short_name || "-"}}</p>
            <mat-divider></mat-divider>
            <p class="card-content-header">Назва англійскою</p>
            <p>Повна назва: {{companyInfo.engName.full_name || "-"}}</p>
            <p>Скорочена назва: {{companyInfo.engName.short_name || "-"}}</p>
        </div>
        <div class="card-content" *ngIf="!companyInfo.ukrName || !companyInfo.engName">
            <p>Результатів не знайдено</p>
        </div>
    </mat-card>
    <mat-card>
        <div class="card-header">
            <p>Контактні дані</p>
            <button mat-flat-button (click)="openEditDialog('companyContact')"><mat-icon>edit</mat-icon>Редагувати</button>
        </div>
        <mat-divider></mat-divider>
        <div class="card-content"  
        *ngIf="
        companyInfo.address && 
        companyInfo.postalAddress && 
        companyInfo.communication &&
        companyInfo.bankingDetails"
        >
            <p>Місце приймання рішенян (юридична адреса): {{companyInfo.address || "-"}}</p>
            <p>Поштова адреса: {{companyInfo.postalAddress || "-"}}</p>
            <mat-divider></mat-divider>
            <p class="card-content-header">Засоби звʼязку</p>
            <p>Телефони: 
                <span  *ngFor="let element of companyInfo.communication.phone_number"> {{element || "-"}}
                <span *ngIf="element.length > 1">;</span>
                </span>
            </p>
            <p>Email: {{companyInfo.communication.email || "-"}}</p>
            <mat-divider></mat-divider>
            <p class="card-content-header">Банківські реквізити</p>
            <p>Номер рахунку IBAN: {{companyInfo.bankingDetails.iban || "-"}}</p>
            <p>Відділення банку: {{companyInfo.bankingDetails.remittance_bank || "-"}}</p>
        </div>
        <div class="card-content" 
        *ngIf="
        !companyInfo.address && 
        !companyInfo.postalAddress &&
        !companyInfo.bankingDetails"
        >
            <p>Результатів не знайдено</p>
        </div>
    </mat-card>
    <mat-card>
        <div class="card-header">
            <p>Ідентифікаційні реквізити підприємства</p>
            <button mat-flat-button (click)="openEditDialog('companyIdentificationDetails')"><mat-icon>edit</mat-icon>Редагувати</button>
        </div>
        <mat-divider></mat-divider>
        <div class="card-content" *ngIf="companyInfo.identificationDetails">
            <p>Код підприємства ЄДРПОУ: {{companyInfo.identificationDetails.edrpou || "-"}}</p>
            <p>Свідоцтво про державну реєстрацію: {{companyInfo.identificationDetails.registration_certificate || "-"}}</p>
            <p>Податковий код ІПН: {{companyInfo.identificationDetails.ipn || "-"}}</p>
            <p>Відомості про облік податку на додану вартість: {{companyInfo.identificationDetails.accounting_tax_info || "-"}}</p>
            <p>Форма (група) оподаткування: {{companyInfo.identificationDetails.tax_form || "-"}}</p>
        </div>
        <div class="card-content" *ngIf="!companyInfo.identificationDetails">
            <p>Результатів не знайдено</p>
        </div>
    </mat-card>
    <!-- <mat-card>
        <div class="card-header">
            <p>Відомості про отриману ліцензію</p>
            <button mat-flat-button (click)="openEditDialog('companyLicenceInfo')"><mat-icon>edit</mat-icon>Редагувати</button>
        </div>
        <mat-divider></mat-divider>
        <div class="card-content" *ngIf="companyInfo.licenceInfo">
            <p>Код підприємства ЄДРПОУ: Наказом Державної служби України з безпеки на транспорті від 03.06.2022 № 282, у додатку до цього наказу номер запису 29 ТОВ «АФ «НОВООЛЕКСАНДРІВСЬКА» отримала ліцензію на провадження господарської діяльності у сфері міжнародних перевезень вантажів вантажними автомобілями (крім перевезення небезпечних вантажів та небезпечних відходів) </p>
            <p>{{companyInfo.licenceInfo}}</p>
        </div>
        <div class="card-content" *ngIf="!companyInfo.licenceInfo">
            <p>Результатів не знайдено</p>
        </div>
    </mat-card> -->
</div>