<div class="card-header">
    <div class="header-content">
        <p>Загальні відомості про транспортний засіб</p>
        <div class="control-panel">
            <button mat-flat-button (click)="submit()">Зберегти</button>
        </div>
    </div>
    <mat-divider></mat-divider>
</div>
<div class="container">
   
    <div class="using-reason">
        <form [formGroup]="generalInfo">
           
            <div class="section">
                <div class="card-row">
                    <p>Показник одонометру, км</p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Показник одонометру, км" formControlName="mileage">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="card-row">
                    <p>Обʼєм паливного баку, л</p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Обʼєм паливного баку, л" formControlName="fuelTankVolume">
                        </mat-form-field>
                    </div>
                </div>
            </div> 
            <div class="section">
                <div class="card-row">
                    <p>Висота, м</p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Висота, м" formControlName="height">
                        </mat-form-field>
                    </div>
                </div>
            </div> 
            <div class="section">
                <div class="card-row">
                    <p>Ширина, м</p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Ширина, м" formControlName="width">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="card-row">
                    <p>Довжина, м</p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Ширина, м" formControlName="length">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>