<div class="container">
    <div class="user-instruction">
        <form [formGroup]="userInstruction" (submit)="submit()">
            <div class="section">
                <div class="card-row">
                    <p>Номер докмуента </p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Номер докмуента" formControlName="docNumber">
                        </mat-form-field>
                    </div>
                </div>
                <div class="card-row">
                    <p>Дата</p>
                    <div class="date">
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="date" formControlName="date">
                            <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
                            <mat-datepicker #date>
                              <mat-datepicker-actions>
                                <a mat-button matDatepickerCancel>Cancel</a>
                                <a mat-raised-button color="primary" matDatepickerApply>Apply</a>
                              </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="control-panel">
                <button mat-flat-button mat-dialog-close>Зберегти</button>
            </div>
        </form>
    </div>
</div>