<div class="container">
    <form [formGroup]="carRegistration" (submit)="submit()">
        <div class="section">
            <mat-card>
                <div class="card-header">
                    <p>Відомості про транспортний засіб</p>
                </div>
                <mat-divider></mat-divider>
                <div class="card-content">
                    <p>Номенклатурна назва</p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Номенклатурна назва" formControlName="nomenclatureName">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="section">
            <mat-card>
                <div class="card-header">
                    <p>Відомості техпаспорту</p>
                </div>
                <mat-divider></mat-divider>
                <div class="card-content">
                    <div>
                        <p>Номер та серія техпаспорту</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Номер та серія техпаспорту" formControlName="technicalPassportSeries">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Техпаспорт виданий органом</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Техпаспорт виданий органом" formControlName="technicalPassportIssuedBy">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Техпаспорт дійсний до</p>
                        <div class="edit-input">
                              <div class="date">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="validUntil" placeholder="Техпаспорт дійсний до" formControlName="validUntil">
                                    <mat-datepicker-toggle matIconSuffix [for]="validUntil"></mat-datepicker-toggle>
                                    <mat-datepicker #validUntil>
                                      <mat-datepicker-actions>
                                        <a mat-button matDatepickerCancel>Cancel</a>
                                        <a mat-raised-button color="primary" matDatepickerApply>Apply</a>
                                      </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>Взятий на облік (дата видачі техпаспорту)</p>
                        <div class="edit-input">
                              <div class="date">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="dateOfIssuance" placeholder="Взятий на облік (дата видачі техпаспорту)" formControlName="dateOfIssuance">
                                    <mat-datepicker-toggle matIconSuffix [for]="dateOfIssuance"></mat-datepicker-toggle>
                                    <mat-datepicker #dateOfIssuance>
                                      <mat-datepicker-actions>
                                        <a mat-button matDatepickerCancel>Cancel</a>
                                        <a mat-raised-button color="primary" matDatepickerApply>Apply</a>
                                      </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="section">
            <mat-card>
                <div class="card-header">
                    <p>Відомості про транспортний засіб згідно з техпаспортом</p>
                </div>
                <mat-divider></mat-divider>
                <div class="card-content">
                    <div>
                        <p>Марка</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Марка" formControlName="brand">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Держ номер</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Держ номер" formControlName="governmentNumber">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>VIN-код</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="VIN-код" formControlName="VINCode">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Колір</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Колір" formControlName="color">
                            </mat-form-field>
                        </div>
                    </div>  
                    <div>
                        <p>Кількість місць для сидіння</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Кількість місць для сидіння" formControlName="numberOfSeats">
                            </mat-form-field>
                        </div>
                    </div>  
                    <div>
                        <p>Повна маса</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Повна маса" formControlName="fullWeight">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Маса без навантаження</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Маса без навантаження" formControlName="massWithoutLoad">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Категорія</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Категорія" formControlName="category">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Вид палива</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Вид палива" formControlName="typeOfFuel">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Тип кузова</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Тип кузова" formControlName="bodyType">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Обʼєм двигуна, см.куб.</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Обʼєм двигуна, см.куб." formControlName="engineCapacity">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Потужність кВт</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Потужність кВт" formControlName="power">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Екологічний стандарт</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Екологічний стандарт" formControlName="ecologicalStandard">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="section">
            <mat-card>
                <div class="card-header">
                    <p>Відомості про підставу користування</p>
                </div>
                <mat-divider></mat-divider>
                <div class="card-content">
                    <div>
                        <p>Підстава для використання (назва договору та номер)</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Підстава для використання (назва договору та номер)" formControlName="contractNameAndNumber">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Дата договору</p>
                        <div class="edit-input">
                            <div class="date">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="dateOfTheContract" placeholder="Дата договору" formControlName="dateOfTheContract">
                                    <mat-datepicker-toggle matIconSuffix [for]="dateOfTheContract"></mat-datepicker-toggle>
                                    <mat-datepicker #dateOfTheContract>
                                      <mat-datepicker-actions>
                                        <a mat-button matDatepickerCancel>Cancel</a>
                                        <a mat-raised-button color="primary" matDatepickerApply>Apply</a>
                                      </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- CHECKBOX -->
                        <p>Договір строковий (так, ні)</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Договір строковий (так, ні)" formControlName="contractIsFixedterm">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Дата закінчення строку користування</p>
                        <div class="edit-input">
                            <div class="date">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="expiryDate" placeholder="Дата закінчення строку користування" formControlName="expiryDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="expiryDate"></mat-datepicker-toggle>
                                    <mat-datepicker #expiryDate>
                                      <mat-datepicker-actions>
                                        <a mat-button matDatepickerCancel>Cancel</a>
                                        <a mat-raised-button color="primary" matDatepickerApply>Apply</a>
                                      </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>Подальші плани використання</p>
                        <div class="edit-input">
                            <div class="date">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="futureUsagePlans" placeholder="Подальші плани використання" formControlName="futureUsagePlans">
                                    <mat-datepicker-toggle matIconSuffix [for]="futureUsagePlans"></mat-datepicker-toggle>
                                    <mat-datepicker #futureUsagePlans>
                                      <mat-datepicker-actions>
                                        <a mat-button matDatepickerCancel>Cancel</a>
                                        <a mat-raised-button color="primary" matDatepickerApply>Apply</a>
                                      </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="section">
            <mat-card>
                <div class="card-header">
                    <p>Загальні відомості про транспортний засіб</p>
                </div>
                <mat-divider></mat-divider>
                <div class="card-content">
                    <div>
                        <p>Показник одонометру, км</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Показник одонометру, км" formControlName="odonometerIndicator">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Обʼєм паливного баку, л</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Обʼєм паливного баку, л" formControlName="fuelTankValue">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Висота, м</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Висота, м" formControlName="height">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Ширина, м</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Ширина, м" formControlName="width">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <p>Довжина, м</p>
                        <div class="edit-input">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Довжина, м" formControlName="length">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="control-panel">
            <a mat-flat-button class="cancel" (click)="cancel()">Скасувати</a>
            <button mat-flat-button class="save-transport" [disabled]="carRegistration.invalid">Зберегти транспорт</button>
        </div>
    </form>
</div>

