:host {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
mat-card{
    border-radius: 14px;
}
.login-content{
    h1,p,button{
        font-family:'Montserrat', sans-serif;
    }
 
}
.mat-form-field{
    display: block;
}
.login-card-text{
    text-align: center;
    margin: 32px 77px;
    h1{
        margin-bottom: 12px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.01em;
    }
    p{
        font-weight: 200;
        line-height: 12px;
        letter-spacing: 0.01em;
    }
}
.auth-form{
    button{
        width: 100%;
        color: #FFFF;
        background-color: #159A9C;
        margin-bottom: 32px;
        font-weight: 500;
        margin-top: 32px;
    }
    span{
        color: #EB3636;
        font-weight: 300;
        font-size: 12px;
    }
}
form{
    margin: 0 30px;
}
::ng-deep{
    .mat-form-field-appearance-outline .mat-form-field-infix{
        padding: 0.5em 0 0.5em 0;
    }
    .mat-form-field-wrapper{
        padding-bottom: 9px !important; //////////
    }
}
mat-icon{
    color: rgba(21, 154, 156, 0.7);
    margin-right: 16px;
}
.reset-password{
    text-align: center;
    margin-top: 27px;
    span{
        margin-left: 5px;
        color: #159A9C;
        cursor: pointer;
    }
    span:hover{
        color: #159A9C;
        text-decoration: underline;
        cursor: pointer;
    }
}

