table{
    margin-top: 12px;
    width: 100%;
}
.mat-header-row{
    height: 32px;
    border-radius: 5px 5px 0 0;
    color: #ffff;
    background-color: #159a9c  ;//#002333

    th{ 
        color: #ffff;
    }
}
