<div class="container">
    <div class="add-user" *ngIf="switchPage">
        <mat-card>
            <div class="card-header">
                    <p>Додавання нового користувача</p>
            </div>
            <mat-divider></mat-divider>
            <div class="user-profile">
                <form [formGroup]="userForm" (ngSubmit)="submit()">
                    <div class="login">
                        <p>Логін</p>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Логін" formControlName="login" >
                        </mat-form-field>
                    </div>
                    <div class="pass">
                        <p>Пароль</p>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Пароль" type="password" formControlName="pass">
                        </mat-form-field>
                        <!-- <span *ngIf="errorHint">wrong login or pass</span> -->
                    </div>
                    <div class="role-select">
                        <p>Роль користувача</p>
                        <mat-form-field appearance="outline">
                            <mat-label>Оберіть роль</mat-label>
                            <mat-select formControlName="roleSelect">
                                <mat-option *ngFor="let role of roleList" [value]="role">
                                {{role.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <a mat-flat-button class="cancel" (click)="cancel()">Скасувати</a>
                    <button mat-flat-button >Продовжити</button>
                </form>
            </div>
        </mat-card>
    </div>
    <div class="user-profile" *ngIf="switchPage == false">
        <user-profile [userId]="userId"></user-profile>
    </div>
</div>
