button{ 
    color: #FFFF;
    background-color: #159A9C;
}
.cancel{
    color: #02374f;
    background-color: #b4bec9;
    margin-right: 12px;
}
mat-form-field{
    width: 50%;
}
.card-header{
    font-weight: 500;
    margin-bottom: 12px;
}
mat-card{
    border-radius: 14px;
}
.user-profile{
    margin-top: 24px;

}