<div class="admin-nav">
    <div class="nav-col">
        <a 
        routerLink="/main/admin/admin-dashboard/user-list"
        [routerLinkActive]="'active'" 
        >Список користувачів</a>
        <!-- <a 
        routerLink="/admin/admin-dashboard/dashboard"
        [routerLinkActive]="'active'" 
        >Редагування користувача</a> -->
        <a 
        routerLink="/main/admin/admin-dashboard/roles"
        [routerLinkActive]="'active'" 
        >Налаштування ролей</a>
    </div>
</div>
