<div class="navbar-row">
    <div class="navbar-container">
        <div class="navbar">
            <div class="navbar__left">
                <a 
                [routerLink]="['/main']" 
                [routerLinkActive]="'active'" 
                [routerLinkActiveOptions]="{ exact: true }"
                >
                Головна
                </a>
                <a>Транспорт</a>
                <a 
                [routerLink]="['/company/company-list']" 
                [routerLinkActive]="'active'"
                >
                Компанії
                </a>
                <a
                [routerLink]="['/admin/admin-dashboard']" 
                [routerLinkActive]="'active'"
                >Адміністрування</a>
            </div>
            <div class="navbar__right">
                <p>super admin</p>
                <button mat-button (click)="logout()"> <mat-icon matPrefix >logout</mat-icon></button>
            </div>
        </div>
    </div>
</div>

