<div class="navbar-row">
    <div class="navbar-container">
        <div class="navbar">
            <div class="navbar__left">
                <a *ngFor="let element of userButtons" [routerLink]="[element.rote]" >{{element.title}}</a>
               <!-- <a 
                [routerLink]="['/main']" 
                [routerLinkActive]="'active'" 
                [routerLinkActiveOptions]="{ exact: true }"
                >
                Головна
                </a>
                <a
                [routerLink]="['/main/cars/table']" 
                [routerLinkActive]="'active'" 
                [routerLinkActiveOptions]="{ exact: true }"
                *canAccess="[ROLES.DIRECTOR, ROLES.SUPER_ADMIN]"
                >Транспорт</a>
         
                <a 
                [routerLink]="['/main/company/company-list']" 
                [routerLinkActive]="'active'"
                *canAccess="[ROLES.SUPER_ADMIN]"
                >
                Компанії
                </a>
                <a
                [routerLink]="['/main/admin/admin-dashboard']" 
                [routerLinkActive]="'active'"
                *canAccess="[ROLES.SUPER_ADMIN, ROLES.DIRECTOR]"
                >Адміністрування</a> -->
            </div>
            <div class="navbar__right">
                <div class="user-name">
                    {{userName}}
                </div>
                <button mat-mini-fab class="menu-button" [matMenuTriggerFor]="headerMenu"></button>
                <mat-menu #headerMenu="matMenu">
                    <a mat-menu-item  [routerLink]="['/main/employee']"><mat-icon matPrefix>person</mat-icon>Профіль користувача</a>
                    <a mat-menu-item  [routerLink]="['/main/employee/company']"><mat-icon matPrefix>info</mat-icon>Інформация про компанію</a>
                    <a mat-menu-item (click)="logout()"><mat-icon matPrefix>logout</mat-icon>Вийти</a>
                </mat-menu>
                <!-- <button mat-button (click)="logout()"> <mat-icon matPrefix >logout</mat-icon></button> -->
            </div>
        </div>
    </div>
</div>

