<mat-card>
    <div class="card-header">
        <p>Відомості про користувача</p>
        <button mat-flat-button><mat-icon>edit</mat-icon>Редагувати</button>
    </div>
    <mat-divider></mat-divider>
    <div class="card-content">
        <p>ПІБ праціника :  -</p>
        <p>Посада : -</p>
        <p>Номер наказу : -</p>
        <p>Дата наказу : -</p>
        <p>Оклад  : -</p>
        <p>Дата народження : -</p>
        <p>Email : -</p>
        <p>Стаж роботи на попередньому місці : -</p>
        <p>Відомості щодо попередньої роботи для МП : -</p>
        <p>Достатній стаж роботи для МП : -</p>
        <p>Телефон : -</p>
        <p>Адреса реєстрації : -</p>
        <p>Адреса фактичного мешкання : -</p>
    </div>
</mat-card>
<mat-card>
    <div class="card-header">
        <p>Освіта</p>
        <div class="control-panel">
            <button mat-flat-button><mat-icon>edit</mat-icon>Редагувати</button>
            <button mat-flat-button><mat-icon>add</mat-icon>Додати</button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="card-content">
        <p>Свідоцтво про освіту :  -</p>
        <p>Спеціальність : - </p>
        <p>Підвищення кваліфікації, свідоцтво : -</p>
    
    </div>
</mat-card>
<mat-card>
    <div class="card-header">
        <p>Посвідчення водія</p>
        <button mat-flat-button><mat-icon>edit</mat-icon>Редагувати</button>
    </div>
    <mat-divider></mat-divider>
    <div class="card-content">
        <p>Категорії :  -</p>
        <p>Дата видачі : -</p>
        <p>Дата закінчення : -</p>
    </div>
</mat-card>
<mat-card>
    <div class="card-header">
        <p>Наявні документи</p>
        <button mat-flat-button><mat-icon>edit</mat-icon>Редагувати</button>
    </div>
    <mat-divider></mat-divider>
    <div class="card-content">
        <p>Паспорт :  -</p>
        <p>Інн : - </p>
        <p>Трудова книжка : -</p>
        <mat-divider></mat-divider>
        <p class="card-content-header">Довідка про стан здоровʼя</p>
        <p>Номер довідки та форма: -</p>
        <p>Дата отримання : -</p>
        <p>Дата наступного огляду : -</p>
        <p>Військово-облікові документи : -</p>
    </div>
</mat-card>
<mat-card>
    <div class="card-header">
        <p>Стажування</p>
        <button mat-flat-button><mat-icon>edit</mat-icon>Редагувати</button>
    </div>
    <mat-divider></mat-divider>
    <div class="card-content">
        <p>Номер докмуента :  -</p>
        <p>Дата : -</p>
    </div>
</mat-card>
<mat-card>
    <div class="card-header">
        <p>Інстркутаж</p>
        <button mat-flat-button><mat-icon>edit</mat-icon>Редагувати</button>
    </div>
    <mat-divider></mat-divider>
    <div class="card-content">
        <p class="card-content-header">Вступний</p>
        <p>Номер докмуента :  -</p>
        <p>Дата : -</p>
    </div>
</mat-card>
