
<div class="container">
    <div class="dashboard-content">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <div class="admin-nav">
            <div class="nav-col">
                <a 
                routerLink="/main/admin/admin-dashboard/user-list"
                [routerLinkActive]="'active'" 
                >Список користувачів</a>
                <a 
                routerLink="/main/admin/admin-dashboard/roles"
                [routerLinkActive]="'active'" 
                >Налаштування ролей</a>
            </div>
        </div>
    </div>
</div>
