.container {
  margin-top: 32px;
  width: 1440px;
}
// .dashboard-content {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
.content {
  width: 100%;
  height: 100%;
  p {
    display: flex;
    justify-content: center;
    font-weight: 500;
  }
}
.nav-col {
  display: flex;
  flex-direction: column;
  a {
    border-left: 1px solid #ffff;
    padding: 10px;
    text-decoration: none;

    color: #159a9c7f;
    font-weight: 500;
    font-size: 16px;
  }
  .active {
    border-left: 2px solid #159a9c;
    color: #159a9c;
  }
}
