.container {
  width: 1440px;
}
.edit-company {
  margin-top: 22px;
}

.group {
  &__first {
    margin-bottom: 12px;
    p {
      font-weight: 500;
    }
  }

  &__second {
    margin-bottom: 12px;

    p {
      font-weight: 500;
    }
  }
  &__third {
    p {
      font-weight: 500;
    }
  }
}
mat-form-field {
  width: 30%;
}
mat-card {
  border-radius: 14px;
}
::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0;
  }
}
.save {
  margin-top: 12px;
  text-align: end;
}
.save-button {
  font-weight: 500;
  font-size: 16px;
  background-color: #159a9c;
  color: #ffff;
}

.card-content {
  margin-top: 24px;
  mat-divider {
    margin-bottom: 12px;
  }
  .card-content-header {
    margin-top: 12px;
    font-weight: 500;
  }
}
