.container {
  padding: 24px;
}
mat-radio-group {
  mat-radio-button:last-of-type {
    margin-left: 12px;
  }
}
button {
  text-align: end;
  color: #ffff;
  background-color: #159a9c;
}

mat-form-field {
  width: 50%;
}
.date {
  ::ng-deep {
    .mat-form-field-infix {
      display: flex;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0;
    }
  }
}
.radio-button {
  margin-bottom: 12px;
}
.card-header {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  p {
    margin-top: 12px;
    font-weight: 500;
  }
}
.header-content {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.general-info {
  margin-top: 12px;
}
