button {
  text-align: end;
  color: #ffff;
  background-color: #159a9c;
}

.user-profile {
  .section {
    mat-form-field {
      width: 50%;
    }
  }

  mat-divider {
    margin: auto auto 12px auto;
  }
}
