<div class="container">
    <mat-card>
        <div class="card-header">
            <p>Назва підприємства</p>
            <button mat-flat-button><mat-icon>edit</mat-icon>Редагувати</button>
        </div>
        <mat-divider></mat-divider>
        <div class="card-content" >
            <p class="card-content-header">Назва українською</p>
            <p>Повна назва: {{"carInfo.nomenclature_name" || "-"}}</p>
            <p>Скорочена назва: {{"carInfo.nomenclature_name" || "-"}}</p>
            <mat-divider></mat-divider>
            <p class="card-content-header">Відомості техпаспорту</p>
            <p>Повна назва: {{"arInfo.technical_certificate.num_and_series" || "-"}}</p>
            <p>Скорочена назва: {{"carInfo.nomenclature_name" || "-"}}</p>
        </div>
        <div class="card-content" >
            <p>Результатів не знайдено</p>
        </div>
    </mat-card>
    <mat-card>
        <div class="card-header">
            <p>Контактні дані</p>
            <button mat-flat-button><mat-icon>edit</mat-icon>Редагувати</button>
        </div>
        <mat-divider></mat-divider>
        <div class="card-content" >
            <p>Місце приймання рішенян (юридична адреса): {{"carInfo.nomenclature_name" || "-"}}</p>
            <p>Поштова адреса: {{"carInfo.nomenclature_name" || "-"}}</p>
            <mat-divider></mat-divider>
            <p class="card-content-header">Засоби звʼязку</p>
            <p>Телефони: {{"arInfo.technical_certificate.num_and_series" || "-"}}</p>
            <p>Email: {{"carInfo.nomenclature_name" || "-"}}</p>
            <mat-divider></mat-divider>
            <p class="card-content-header">Банківські реквізити</p>
            <p>Номер рахунку IBAN: {{"arInfo.technical_certificate.num_and_series" || "-"}}</p>
            <p>Відділення банку: {{"carInfo.nomenclature_name" || "-"}}</p>
        </div>
        <div class="card-content" >
            <p>Результатів не знайдено</p>
        </div>
    </mat-card>
    <mat-card>
        <div class="card-header">
            <p>Ідентифікаційні реквізити підприємства</p>
            <button mat-flat-button><mat-icon>edit</mat-icon>Редагувати</button>
        </div>
        <mat-divider></mat-divider>
        <div class="card-content" >
            <p>Код підприємства ЄДРПОУ: {{"carInfo.nomenclature_name" || "-"}}</p>
            <p>Свідоцтво про державну реєстрацію: {{"carInfo.nomenclature_name" || "-"}}</p>
            <p>Податковий код ІПН: {{"carInfo.nomenclature_name" || "-"}}</p>
            <p>Відомості про облік податку на додану вартість: {{"carInfo.nomenclature_name" || "-"}}</p>
            <p>Форма (група) оподаткування: {{"carInfo.nomenclature_name" || "-"}}</p>
        </div>
        <div class="card-content" >
            <p>Результатів не знайдено</p>
        </div>
    </mat-card>
    <mat-card>
        <div class="card-header">
            <p>Відомості про отриману ліцензію</p>
            <button mat-flat-button><mat-icon>edit</mat-icon>Редагувати</button>
        </div>
        <mat-divider></mat-divider>
        <div class="card-content" >
            <p>Код підприємства ЄДРПОУ: Наказом Державної служби України з безпеки на транспорті від 03.06.2022 № 282, у додатку до цього наказу номер запису 29 ТОВ «АФ «НОВООЛЕКСАНДРІВСЬКА» отримала ліцензію на провадження господарської діяльності у сфері міжнародних перевезень вантажів вантажними автомобілями (крім перевезення небезпечних вантажів та небезпечних відходів) </p>
            
        </div>
        <div class="card-content" >
            <p>Результатів не знайдено</p>
        </div>
    </mat-card>
</div>