<div class="container">
    <div class="add-education-indo">
        <form [formGroup]="userEducation" (submit)="submit()">
            <div class="section">
                <div class="card-row">
                    <p>Свідоцтво про освіту</p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Свідоцтво про освіту" formControlName="certificate">
                        </mat-form-field>
                    </div>
                </div>
                <div class="card-row">
                    <p>Спеціальність</p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Спеціальність" formControlName="specialty">
                        </mat-form-field>
                    </div>
                </div>
                <div class="card-row">
                    <p>Підвищення кваліфікації, свідоцтво</p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Підвищення кваліфікації, свідоцтво" formControlName="advancedQualification">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="control-panel">
                <button mat-flat-button mat-dialog-close>Зберегти</button>
                <!-- <a mat-flat-button (click)="delete()">Видалити</a> -->
            </div>
        </form>
    </div>
</div>