<div class="container">
    <div class="driver-license">
        <form [formGroup]="userDriverLicense" (submit)="submit()">
            <div class="section">
                <div class="card-row">
                    <p>Категорії</p>
                    <div class="edit-input">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Категорії" formControlName="categories">
                        </mat-form-field>
                    </div>
                </div>
                <div class="card-row">
                    <p>Дата видачі</p>
                    <div class="date-issue">
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="dateIssue"  formControlName="dateIssue">
                            <mat-datepicker-toggle matIconSuffix [for]="dateIssue"></mat-datepicker-toggle>
                            <mat-datepicker #dateIssue>
                              <mat-datepicker-actions>
                                <a mat-button matDatepickerCancel>Cancel</a>
                                <a mat-raised-button color="primary" matDatepickerApply>Apply</a>
                              </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="card-row">
                    <p>Дата закінчення</p>
                    <div class="date-end">
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="dateEnd" formControlName="dateEnd">
                            <mat-datepicker-toggle matIconSuffix [for]="dateEnd"></mat-datepicker-toggle>
                            <mat-datepicker #dateEnd>
                              <mat-datepicker-actions>
                                <a mat-button matDatepickerCancel>Cancel</a>
                                <a mat-raised-button color="primary" matDatepickerApply>Apply</a>
                              </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="control-panel">
                <button mat-flat-button mat-dialog-close>Зберегти</button>
            </div>
        </form>
    </div>
</div>